.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20PX;
}

.explore-menu h1 {
    font-size: 2rem;
    color: #262626;
    font-weight: 600; 
}

.explore-menu-list {
    display: flex;
    gap:  30px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    overflow-x: scroll;

}
.explore-menu-list::-webkit-scrollbar{
    display: none;;
}
.explore-menu-list-item img {
    width: 8vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.explore-menu-list-item img:hover {
    padding: 2px;
                                                                                                                                                                                                                                                                                                                                                                                                                                               

}

.explore-menu-list-item p {
    margin-top: 10px;
    font-size: max(1.4vw, 16px);
    font-weight: 500;
    color: #474747;
    cursor: pointer;
}

.explore-menu hr {
    margin: 10px 0px;
    height: 2px;
    background-color: #e0e0e0;
    border: none;
}

.explore-menu-list-item .active   {
    border: 4px solid tomato;
    padding: 2px;
}
